/*
file: style.cs
author: Vlad Mesco
date: Tue Apr  9 20:43:59 EEST 2013
description: calendar styles
*/

.calendar_table {
    width:100%;
    color:black;
    background-color:#DC8;
}

.calendar_button {
    cursor:pointer;
}

.calendar_button:hover {
    color:white;
}
