/*
file: style.cs
author: Vlad Mesco
date: Tue Apr  9 20:43:59 EEST 2013
description: calendar styles
*/

.calendar_table {
    width:100%;
    color:blue;
    background-color:#CC8;
}

.calendar_button {
    cursor:pointer;
}

.calendar_button:hover {
    color:white;
}

.calendar_thisMonthButton, .calendar_otherMonthButton, .calendar_selectedButton, .calendar_headerButton {
    text-align:center;
    width:20px;
    height:20px;
}

.calendar_thisMonthButton {
    color:white;
    cursor:pointer;
    background-color:#88C;
}
.calendar_thisMonthButton:hover {
    color:black;
    cursor:pointer;
    background-color:#FFF;
}

.calendar_selectedButton {
    font-weight:bold;
    color:white;
    background-color:#C88;
}

.calendar_otherMonthButton {
    color:gray;
    background-color:#CC8;
}

.calendar_headerButton {
    color:blue;
    background-color:#CC8;
}
